body {
    font-family:'Montserrat', sans-serif;
    font-size: 1em;
    color: white;
}

#container {
  position: absolute;
  top: 20%;
  left: 2.5%;
  width: 30%;
  height: 50%;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 1em;
  text-align: justify;
}

#demo {
  position: absolute;
  top: 20%;
  right: 2.5%;
  width: 30%;
  height: 50%;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 1em;
  font-size: 1.5em;
}

#home {
	margin:0px;
	padding:5px;

}

img.animated-gif{
  width: auto;
  height: 100%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

#button {
	height: 1.5em;
	width: 30%;
    -webkit-box-shadow: 0 0 15px #D1FFFF;
    -moz-box-shadow: 0 0 15px #D1FFFF;
    box-shadow: 0 0 15px #D1FFFF;
    cursor:pointer;
  	position: relative;
	margin: auto;
	top: 10px;
	right: 0;
	left: 0;

}

#dob_day,
#dob_month,
#dob_year,
#dob_time_hour,
#dob_time_minutes,
#loc {
  margin: auto;
  -webkit-box-shadow: 0 0 15px #D1FFFF;
    -moz-box-shadow: 0 0 15px #D1FFFF;
    box-shadow: 0 0 15px #D1FFFF;
}


#dob_day {
	width: 10%;
	height: 1em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}

#dob_month {
	width: 10%;
	height: 1em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}

#dob_year {
	width: 20%;
	height: 1em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}

#loc {
	width: 50%;
	height: 1em;
	top: 100px;
	right: 0;
	bottom: 200px;
	left: 0;

}

#header {
	color : white;
	text-align: center;
	text-shadow: 1px 1px #D1FFFF;
	vertical-align: center;
	font-size: 3em;

}